<div>
  <button [routerLink]="['/register']" class="link">Sign up</button>
  <form [formGroup]="formSignIn" (submit)="signInUser()">
    <div class="form-control">
      <label>Email Adress</label>
      <input
        type="email"
        formControlName="email"
        [ngClass]="{ 'is-invalid': f.email.errors }"
        placeholder="example@gmail.com"
      />
      <div *ngIf="f.email.errors" class="inp-error">
        <div *ngIf="f.email.errors.required">Campo obligatorio</div>
        <div *ngIf="f.email.errors?.pattern" class="text-danger">
          El email no es válido
        </div>
      </div>
    </div>
    <div class="form-control">
      <label>Password</label>
      <input
        type="password"
        formControlName="password"
        [ngClass]="{ 'is-invalid': f.password.errors }"
      />
      <div *ngIf="f.password.errors" class="inp-error">
        <div *ngIf="f.password.errors.required">Campo obligatorio</div>
      </div>
    </div>
    <div class="form-control">
      <button type="submit" [disabled]="formSignIn.invalid">Sign in</button>
    </div>
    <div class="remember-me">
      <input type="checkbox"/>
      <label for="remember">Remember Me</label>
    </div>

    <div class="footer">
      <p>2022 <span>Rights Reserved. WIRES</span></p>
      <span>Privacy Policy | Terms & Conditions</span>
    </div>
  </form>
</div>
